{erl_opts, [{parse_transform, lager_transform}]}.

{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "2.2.0"}}},
    {distributed_proxy, ".*", {git, "git://github.com/yunbalabs/distributed_proxy.git", {branch, "master"}}},
    {sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}},
    {ranch, ".*", {git, "git://github.com/ninenines/ranch.git", {tag, "1.2.0"}}},
    {eredis, ".*", {git, "git://github.com/wooga/eredis.git", {tag, "v1.0.8"}}},
    {eredis_pool, ".*", {git, "git://github.com/yunba/eredis_pool.git", {branch, "master"}}},
    {exometer_core, ".*", {git, "git://github.com/Feuerlabs/exometer_core.git", {tag, "1.4"}}},
    {exometer_influxdb, ".*", {git, "git://github.com/yunba/exometer_influxdb.git", "master"}}
]}.

{pre_hooks, [
    {'get-deps', "c_src/get_redis.sh get-deps"},
    {'compile', "c_src/get_redis.sh make"}
]}.

{post_hooks, [
    {clean, "c_src/get_redis.sh clean"}
]}.