%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
    {lib_dirs, ["../deps"]},
    {erts, [{mod_cond, derived}, {app_file, strip}]},
    {app_file, strip},
    {rel, "redis_proxy", "1",
        [
            kernel,
            stdlib,
            sasl,
            lager,
            distributed_proxy,
            hierdis,
            ranch,
            redis_proxy
        ]},
    {rel, "start_clean", "",
        [
            kernel,
            stdlib
        ]},
    {boot_rel, "redis_proxy"},
    {profile, embedded},
    {incl_cond, derived},
    {excl_archive_filters, [".*"]}, %% Do not archive built libs
    {excl_sys_filters, ["^bin/(?!start_clean.boot)",
        "^erts.*/bin/(dialyzer|typer)",
        "^erts.*/(doc|info|include|lib|man|src)"]},
    {excl_app_filters, ["\.gitignore"]},
    {app, lager, [{mod_cond, app}, {incl_cond, include}]},
    {app, distributed_proxy, [{mod_cond, app}, {incl_cond, include}]},
    {app, hierdis, [{mod_cond, app}, {incl_cond, include}]},
    {app, sync, [{mod_cond, app}, {incl_cond, include}]},
    {app, appmon, [{incl_cond, include}]},
    {app, tv, [{incl_cond, include}]},
    {app, redis_proxy, [{mod_cond, app}, {incl_cond, include}, {lib_dir, ".."}]}
]}.

{target_dir, "redis_proxy"}.

{overlay, [
    {mkdir, "log/sasl"},
    {mkdir, "priv/redis"},
    {copy, "../priv/redis/redis-server", "priv/redis/redis-server"},
    {copy, "../priv/redis/redis.conf", "priv/redis/redis.conf"},
    {copy, "../priv/redis/close_redis.sh", "priv/redis/close_redis.sh"},
    {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
    {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
    {copy, "files/nodetool", "releases/\{\{rel_vsn\}\}/nodetool"},
    {copy, "redis_proxy/bin/start_clean.boot",
        "\{\{erts_vsn\}\}/bin/start_clean.boot"},
    {copy, "files/redis_proxy", "bin/redis_proxy"},
    {copy, "files/redis_proxy.cmd", "bin/redis_proxy.cmd"},
    {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
    %% Following line may be safely removed in new projects
    {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
    {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
    {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},
    {copy, "files/vm.args", "etc/vm.args"},
    {copy, "files/redis_proxy_admin.sh", "bin/redis_proxy_admin.sh"}
]}.
